## Homework

> Note: sometimes your answer doesn't match one of the options exactly. That's fine. 
Select the option that's closest to your solution.

### Dataset

In this homework, we will use the Car price dataset. Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

Or you can do it with `wget`:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

We'll keep working with the `MSRP` variable, and we'll transform it to a classification task.

In [161]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [162]:
! wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-09-28 15:31:50--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response...

200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: ‘data.csv.5’

data.csv.5          100%[===================>]   1,41M   170KB/s    in 6,5s

2023-09-28 15:31:57 (221 KB/s) - ‘data.csv.5’ saved [1475504/1475504]

In [163]:
df = pd.read_csv('./data.csv')
df.info()
df.head().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

### Features

For the rest of the homework, you'll need to use only these columns:

* `Make`,
* `Model`,
* `Year`,
* `Engine HP`,
* `Engine Cylinders`,
* `Transmission Type`,
* `Vehicle Style`,
* `highway MPG`,
* `city mpg`

In [164]:
cols_to_use =['Make',
            'Model',
            'Year',
            'Engine HP',
            'Engine Cylinders',
            'Transmission Type',
            'Vehicle Style',
            'highway MPG',
            'city mpg']

df = df[cols_to_use + ['MSRP']]
df.head().T

                            0            1         2         3            4
Make                      BMW          BMW       BMW       BMW          BMW
Model              1 Series M     1 Series  1 Series  1 Series     1 Series
Year                     2011         2011      2011      2011         2011
Engine HP               335.0        300.0     300.0     230.0        230.0
Engine Cylinders          6.0          6.0       6.0       6.0          6.0
Transmission Type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
Vehicle Style           Coupe  Convertible     Coupe     Coupe  Convertible
highway MPG                26           28        28        28           28
city mpg                   19           19        20        18           18
MSRP                    46135        40650     36350     29450        34500

### Data preparation

* Select only the features from above and transform their names using next line:
  ```
  data.columns = data.columns.str.replace(' ', '_').str.lower()
  ```

In [165]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'msrp'],
      dtype='object')

* Fill in the missing values of the selected features with 0.

In [166]:
display(df.isnull().sum())
df.fillna(0, inplace=True)
display(df.isnull().sum())

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

* Rename `MSRP` variable to `price`.

In [167]:
df.rename(columns={'msrp':'price'}, inplace=True)
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price'],
      dtype='object')

### Question 1

What is the most frequent observation (mode) for the column `transmission_type`?

- `AUTOMATIC` ✅
- `MANUAL`
- `AUTOMATED_MANUAL`
- `DIRECT_DRIVE`

In [168]:
df.transmission_type.value_counts(normalize=True)

transmission_type
AUTOMATIC           0.693806
MANUAL              0.246349
AUTOMATED_MANUAL    0.052543
DIRECT_DRIVE        0.005708
UNKNOWN             0.001595
Name: proportion, dtype: float64

### Question 2

Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your dataset. 
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

- `engine_hp` and `year`
- `engine_hp` and `engine_cylinders`
- `highway_mpg` and `engine_cylinders`
- `highway_mpg` and `city_mpg` ✅

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [170]:
num_cols = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
cat_cols = ['make', 'model', 'transmission_type', 'vehicle_style']

for c in cat_cols:
    df[c] = df[c].str.lower().str.replace(' ', '_')


corr = df[num_cols].corr()
corr.style.background_gradient(cmap='coolwarm')

### Make `price` binary

* Now we need to turn the `price` variable from numeric into a binary format.
* Let's create a variable `above_average` which is `1` if the `price` is above its mean value and `0` otherwise.

In [171]:
def price_binary(row):
    if row > df.price.mean(): return 1
    else: return 0

df['above_average'] = df['price'].apply(lambda x: price_binary(x))
df['above_average'] = df['above_average'].astype('bool')
df.info()
df.head().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
 10  above_average      11914 non-null  bool
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 942.5+ KB

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500
above_average            True         True     False     False        False

### Split the data

* Split your data in train/val/test sets with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to `42`.
* Make sure that the target value (`price`) is not in your dataframe.

In [172]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

print(len(df_train), len(df_val), len(df_test))


df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['price']
del df_val['price']
del df_test['price']

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

7148 2383 2383

In [173]:
display(df_train.head().T)
display(df_val.head().T)
display(df_test.head().T)

,0,1,2,3,4
make,mitsubishi,kia,lamborghini,chevrolet,pontiac
model,endeavor,borrego,gallardo,colorado,vibe
year,2011,2009,2012,2016,2009
engine_hp,225.0,276.0,570.0,200.0,158.0
engine_cylinders,6.0,6.0,10.0,4.0,4.0
transmission_type,automatic,automatic,manual,automatic,automatic
vehicle_style,4dr_suv,4dr_suv,convertible,crew_cab_pickup,4dr_hatchback
highway_mpg,19,21,20,27,26
city_mpg,15,17,12,20,20

,0,1,2,3,4
make,volkswagen,audi,pontiac,nissan,ford
model,beetle,sq5,grand_am,350z,e-150
year,2015,2015,2005,2009,1996
engine_hp,210.0,354.0,140.0,306.0,199.0
engine_cylinders,4.0,6.0,4.0,6.0,6.0
transmission_type,manual,automatic,automatic,manual,automatic
vehicle_style,2dr_hatchback,4dr_suv,sedan,convertible,passenger_van
highway_mpg,31,24,31,24,15
city_mpg,23,17,22,17,11

,0,1,2,3,4
make,gmc,volkswagen,honda,chevrolet,volvo
model,envoy_xl,passat,odyssey,cruze,740
year,2005,2016,2016,2015,1991
engine_hp,275.0,170.0,248.0,138.0,162.0
engine_cylinders,6.0,4.0,6.0,4.0,4.0
transmission_type,automatic,automatic,automatic,manual,automatic
vehicle_style,4dr_suv,sedan,passenger_minivan,sedan,sedan
highway_mpg,18,38,28,36,20
city_mpg,13,25,19,25,17

### Question 3

* Calculate the mutual information score between `above_average` and other categorical variables in our dataset. 
  Use the training set only.
* Round the scores to 2 decimals using `round(score, 2)`.

Which of these variables has the lowest mutual information score?
  
- `make`
- `model`
- `transmission_type` ✅
- `vehicle_style`

In [174]:
from sklearn.metrics import mutual_info_score

def mutual_info_price_score(series):
    return mutual_info_score(series, y_train)

mi = df_train[cat_cols].apply(mutual_info_price_score)
mi.sort_values(ascending=False)

model                0.462344
make                 0.239769
vehicle_style        0.084143
transmission_type    0.020958
dtype: float64

### Question 4

* Now let's train a logistic regression.
* Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

- 0.60
- 0.72
- 0.84
- 0.95 ✅

In [175]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train[cat_cols + num_cols].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[cat_cols + num_cols].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [176]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

# solver='lbfgs' is the default solver in newer version of sklearn
# for older versions, you need to specify it explicitly
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [177]:
y_pred = model.predict_proba(X_val)[:, 1]
price_decision = (y_pred >= 0.5)
(y_val == price_decision).mean()

0.9454469156525388

In [178]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = price_decision.astype(int)
df_pred['actual'] = y_val
df_pred['correct'] = df_pred.prediction == df_pred.actual
df_pred.correct.mean()

0.9454469156525388

### Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 

Which of following feature has the smallest difference?

- `year`
- `engine_hp`
- `transmission_type` ✅
- `city_mpg`

> **Note**: the difference doesn't have to be positive

In [179]:
acc_original = 0.9454469156525388

for col in df_train.columns:

    df_train_int = df_train.drop(col, axis=1)
    df_val_int = df_val.drop(col, axis=1)
    df_test_int = df_test.drop(col, axis=1)

    dv = DictVectorizer(sparse=False)

    train_dict = df_train_int.to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = df_val_int.to_dict(orient='records')
    X_val = dv.transform(val_dict)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

    model.fit(X_train, y_train)

    y_pred = model.predict_proba(X_val)[:, 1]
    price_decision = (y_pred >= 0.5)
    (y_val == price_decision).mean()
    print(col, ((y_val == price_decision).mean() - acc_original).round(5))

make 0.00336
model -0.0214
year 0.00252
engine_hp -0.0214
engine_cylinders 0.00168
transmission_type -0.00042
vehicle_style -0.01343
highway_mpg -0.00336
city_mpg -0.01301

## Question 6

* For this question, we'll see how to use a linear regression model from Scikit-Learn.
* We'll need to use the original column `price`. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model on the training data with a solver `'sag'`. Set the seed to `42`.
* This model also has a parameter `alpha`. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`.
* Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

- 0
- 0.01
- 0.1
- 1
- 10 ✅

> **Note**: If there are multiple options, select the smallest `alpha`.

In [180]:
df.drop('above_average', axis=1, inplace=True)
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500

In [181]:
df.price = np.log1p(df.price)

In [182]:
num_cols = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
cat_cols = ['make', 'model', 'transmission_type', 'vehicle_style']

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)


df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

In [199]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

X_train_num = df_train[num_cols].values

scaler = StandardScaler()
scaler = MinMaxScaler()

X_train_num = scaler.fit_transform(X_train_num)

ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_train_cat = ohe.fit_transform(df_train[cat_cols].values)

X_train = np.column_stack([X_train_num, X_train_cat])

X_val_num = df_val[num_cols].values
X_val_num = scaler.transform(X_val_num)

X_val_cat = ohe.transform(df_val[cat_cols].values)

X_val = np.column_stack([X_val_num, X_val_cat])

/Users/abhirupghosh/opt/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [200]:
from sklearn.linear_model import Ridge

def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)


for alpha in [0, 0.01, 0.1, 1, 10, 100, 1000]:
    
    clf = Ridge(alpha=alpha, solver='sag', random_state=42, max_iter=5000)
    clf.fit(X_train, y_train)

    y_pred = clf.predict(X_val)
    score = rmse(y_val, y_pred)
    
    print(f'{alpha}, {score:.3f}')

0, 0.231
0.01, 0.224
0.1, 0.215
1, 0.230
10, 0.323
100, 0.492
1000, 0.803

## Submit the results

* Submit your results here: https://forms.gle/FFfNjEP4jU4rxnL26
* You can submit your solution multiple times. In this case, only the last submission will be used 
* If your answer doesn't match options exactly, select the closest one


## Deadline

The deadline for submitting is 2 October (Monday), 23:00 CEST.

After that, the form will be closed.